<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	id="WebApp_ID" version="6.0">
	<display-name>LinkApp-WorkingMultipleHyperlinks</display-name>
	<welcome-file-list>
		<welcome-file>links.html</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.xhtml</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.xhtml</welcome-file>
	</welcome-file-list>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>securityLinks</web-resource-name>	<!-- any logical name -->
			<url-pattern>/linksurl</url-pattern> <!-- we can use this tas for multiple times to secure multiple web comp -->
			<http-method>GET</http-method>	<!-- WE CAN place this multiple to specify different request modes -->
		</web-resource-collection>

		<auth-constraint>
			<role-name>ROLE_MANAGER</role-name>
			<role-name>ROLE_CLERK</role-name>
		</auth-constraint>
	</security-constraint>
	
	<login-config>
	<!--	 <auth-method>BASIC</auth-method> --> <!-- Auth mode -->
	
		<auth-method>DIGEST</auth-method>
		<realm-name>myrealm</realm-name>   <!-- default realm name in Tomcat server -->
	</login-config>
	
	<error-page>
		<error-code>403</error-code>
		<location>/access_denied.html</location>
	</error-page>
	

	<servlet>
		<servlet-name>link</servlet-name>
		<servlet-class>com.harsh.servlet.LinksServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>link</servlet-name>
		<url-pattern>/linksurl</url-pattern>
	</servlet-mapping>

</web-app>